.button_home{
	background: #1f1f1f;
	padding: 10px 0 10px 0;
	color: white;
	width: 80%;
	box-shadow: 1px 1px 5px black;
	font-size: 30px;
	text-align: center; 
	font-family: Helvetica, Arial, Sans-Serif;
	text-decoration: none;
	position:relative;
	float: left;
}

.button_next_first, .button_next_first:visited , .button_next_first:link {
	background: #1f1f1f;
	padding: 10px 0 10px 0;
	color: white;
	width: 80%;
	font-size: 30px;
	text-align: center;
	font-family: Helvetica, Arial, Sans-Serif;
	text-decoration: none;
	border:solid 2px #0e0e0e;
	position:relative;
	float: left;
}

.button_next, .button_next:visited , .button_next:link {
	background: #1f1f1f;
	padding: 10px 0 10px 0;
	color: white;
	width: 40%;
	font-size: 30px;
	text-align: center;
	border: solid 2px #0e0e0e;
	font-family: Helvetica, Arial, Sans-Serif;
	text-decoration: none;
	float: left;
}
   
.button_back, .button_back:visited , .button_back:link {
	background: #1f1f1f;
	padding: 10px 0 10px 0;
	color: white;
	width: 40%;
	font-size: 30px;
	text-align: center;
	border: solid 2px #0e0e0e;
	font-family: Helvetica, Arial, Sans-Serif;
	text-decoration: none;
	float: left;
} 

.przycisk_losowanie, .przycisk_losowanie:visited, .przycisk_losowanie:link{
	width: 20%;
	font-family: Helvetica, Arial, Sans-Serif;
	padding: 10px 0 10px 0;
	text-align: center;
	font-size: 30px;
	color: white;
	text-decoration: none;
	border:solid 2px #0e0e0e;
	background-color: #1f1f1f;
	float: right;
}

.pages, .pages:visited, .pages:link{
	color: white;	
	text-decoration: none;
	background-color: #1f1f1f;
	margin: 0 0 0 0;
	font-family: Arial;
	line-height: 30px;
	width: 10%;
	border: solid 2px #0e0e0e;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	padding: 10px 10px 10px 10px;
	float:left;
}

.active_pg, .active_pg:link, .active_pg:hover{
	color: white;	
	text-decoration: none;
	background-color: #1f1f1f;
	margin: 0 0 0 0;
	width: 10%;
	border: solid 2px #0e0e0e;
	text-align: center;
	font-family: Arial;
	line-height: 30px;
	padding: 10px 10px 10px 10px;
	float:left;
	font-size: 20px;
	font-weight: 600;
}

.orange {
	color: #ff5917;
	text-decoration: none;
	background-color: #1f1f1f;
	margin: 0 0 0 0;
	width: 10%;
	border: solid 2px #0e0e0e;
	text-align: center;
	font-family: Arial;
	line-height: 30px;
	padding: 10px 10px 10px 10px;
	float:left;
	font-size: 20px;
	font-weight: 600;
}

@media screen and (max-width: 900px) {
	.active_pg, .active_pg:link, .orange{
		display: none;
	}
	.pages, .pages:visited, .pages:link{
		display: none;
	}
}